.card {
  display: flex;
  width: 75%;
  height: 100px;
  align-items: center;
  border-radius: 15px;
  font-size: 18px;
  gap: 15px;
  background: linear-gradient(to right, #25252534, #b67432a2);
}
.card img {
  width: 25%;
  margin-left: 25px;
}
.details-stats p {
  color: gray;
  line-height: 30px;
}
.details-stats {
  margin-left: 5px;
}
