.card-image {
  width: 25%;
  align-items: center;
}
.top-card {
  padding: 10px;
  margin-top: 40px;
  margin-bottom: 40px;
  margin-left: 40px;
}
.categorie h1 {
  color: #1f5156;
  font-size: 45px;
}
.cat-plus {
  width: 250px;
  height: 35px;
  margin-top: 30px;
  border: 1px solid rgba(128, 128, 128, 0.384);
  background: rgba(128, 128, 128, 0.178);
  font-size: 15px;
  border-radius: 15px;
  color: black;
  cursor: pointer;
}
.cat-plus:hover {
  background: #1f5156be;
  color: white;
}
.categorie {
  text-align: center;
}
