.professionnel {
  display: flex;
  justify-content: space-between;
  height: 600px;
  margin: 30px 20px;
}
.search-option {
  display: flex;
  flex-direction: column;
  height: 600px;
  width: 30%;
  gap: 40px;
  background: rgba(255, 255, 255, 0.589);
}

.search-result {
  padding: 20px;
  height: 600px;
  width: 70%;
  background: rgba(255, 255, 255, 0.589);
  overflow-y: auto;
}
.search-option h1 {
  color: #000;
  font-family: "Playfair Display", serif;
  font-size: 25px;
  text-align: start;
  margin-left: 15px;
  margin-bottom: 0;
}
hr {
  margin: 5px 0px;
}
.search-option input {
  width: 80%;
  height: 35px;
  margin-left: 45px;
  padding: 20px;
  border-radius: 25px;
}
.search-option select {
  width: 80%;
  height: 40px;
  margin-left: 45px;
  padding: 10px;
  border-radius: 25px;
}
.search-option button {
  width: 50%;
  height: 40px;
  border-radius: 25px;
  background: linear-gradient(to right, #5353539f, #b67332);
  align-self: center;
  border: none;
  color: white;
  cursor: pointer;
}
.search-option button:hover {
  background: linear-gradient(to right, #000, #7e4e1f);
}
