.allcategorie {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  text-align: center;
}
.all-card-image {
  width: 35%;
  align-items: center;
}
.all-top-card {
  padding: 10px;
  margin-top: 40px;
  margin-bottom: 40px;
  margin-left: 40px;
  flex-basis: 20%;
  border: 1px solid #1f5156;
  border-radius: 20px;
  cursor: pointer;
  filter: brightness(110%) saturate(140%);
}
.all-top-card:hover {
  border: 1px solid #b67332;
  background: rgba(255, 255, 255, 0.886);
}
h1 {
  color: #bd752d;
  font-family: "Playfair Display", serif;
  font-size: 45px;
  margin-bottom: 50px;
}
.all-top-card-text h2 {
  color: #1f5156;
}
