.procard {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin-left: 25px;
  border: 1px solid rgba(0, 0, 0, 0.289);
  margin-top: 20px;
  border-radius: 25px;
  background: white;
}
.description h2 {
  text-transform: uppercase;
  font-weight: bold;
  margin: 15px;
  font-size: 15px;
}
.description p {
  margin: 15px;
  text-align: justify;
}
.info {
  padding: 20px;
  margin: 0;
  display: flex;
  justify-content: space-between;
}
.info img {
  width: 11%;
  margin-top: 20px;
  margin-right: -50px;
}
.details p {
  font-size: 14px;
  text-align: left;
  margin-left: 65px;
  text-transform: uppercase;
  color: #24348d;
  cursor: pointer;
}
.details h4 {
  margin-left: 65px;
  color: #00adbd;
  font-size: 20px;
  cursor: pointer;
  font-family: "Playfair Display", serif;
}
a {
  text-decoration: none;
}
.details h3 {
  margin-left: 65px;
  color: #000000;
  font-size: 16px;
}
.details {
  margin-top: 25px;
  margin-right: 200px;
  line-height: 30px;
}
.info button {
  width: 250px;
  height: 45px;
  margin-top: 30px;
  background: linear-gradient(to right, #5353539f, #b67332);
  color: white;
  border: none;
  border-radius: 20px;
  cursor: pointer;
}
.info button:hover {
  background: linear-gradient(to right, #000, #7e4e1f);
}
.details p:hover {
  color: red;
}
.details h4:hover {
  color: #ab41f1;
}
.det-inf h4 {
  float: left;
  margin-right: -45px;
}
